In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/house_prices_sp.csv')
df.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13640 entries, 0 to 13639
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             13640 non-null  int64
 1   Condo             13640 non-null  int64
 2   Size              13640 non-null  int64
 3   Rooms             13640 non-null  int64
 4   Toilets           13640 non-null  int64
 5   Suites            13640 non-null  int64
 6   Parking           13640 non-null  int64
 7   Elevator          13640 non-null  int64
 8   Furnished         13640 non-null  int64
 9   Swimming Pool     13640 non-null  int64
 10  New               13640 non-null  int64
 11  District          13640 non-null  object
 12  Negotiation Type  13640 non-null  object
 13  Property Type     13640 non-null  object
 14  Latitude          13640 non-null  float64
 15  Longitude         13640 non-null  float64
dtypes: float64(2), int64(11), object(3)
memory usage: 1.7+ MB

In [4]:
x = df.drop(columns=['Price'])
y = df['Price']

In [5]:
cat_cols = x.select_dtypes(include=['object']).columns.tolist()
num_cols = x.select_dtypes(include=[np.number]).columns.tolist()

In [6]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), num_cols),
        ('cat', OneHotEncoder(handle_unknown='ignore'), cat_cols),
    ]
)

In [7]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.ensemble import ExtraTreesRegressor
import xgboost as xgb
import lightgbm as lgb

models = {
    "Random Forest": RandomForestRegressor(n_estimators=100, random_state=42),
    "Gradient Boosting": GradientBoostingRegressor(n_estimators=200, random_state=42),
    "Extra Trees": ExtraTreesRegressor(n_estimators=200, random_state=42),
    "KNN": KNeighborsRegressor(n_neighbors=5),
    "Elastic Net": ElasticNet(alpha=0.1, l1_ratio=0.5),
    "SVR": SVR(kernel="rbf"),
    "XGBoost": xgb.XGBRegressor(n_estimators=500, learning_rate=0.05, random_state=42),
    "LightGBM": lgb.LGBMRegressor(n_estimators=500, learning_rate=0.05, random_state=42),
}

best_model = None
best_score = -np.inf

In [8]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from math import sqrt
for name, model in models.items():
    pipe = Pipeline(steps=[('preprocessor', preprocessor),
                           ('model', model)])
    
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
    pipe.fit(x_train, y_train)

    y_pred = pipe.predict(x_test)
    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = sqrt(mse)

    print(f'{name}: R² = {r2:.4f} RMSE = {rmse:,.2f}')

    if r2 > best_score:
        best_score = r2
        best_model = pipe

Random Forest: R² = 0.9329 RMSE = 151,508.43
Gradient Boosting: R² = 0.9324 RMSE = 152,182.70
Extra Trees: R² = 0.9158 RMSE = 169,826.05
KNN: R² = 0.5998 RMSE = 370,159.63
Elastic Net: R² = 0.4701 RMSE = 425,913.97
SVR: R² = -0.2065 RMSE = 642,677.45
XGBoost: R² = 0.9431 RMSE = 139,545.08
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000561 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1236
[LightGBM] [Info] Number of data points in the train set: 10912, number of used features: 110
[LightGBM] [Info] Start training from score 290671.153592
LightGBM: R² = 0.9379 RMSE = 145,819.79

c:\Users\André\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LGBMRegressor was fitted with feature names
  warnings.warn(

In [9]:
import joblib
joblib.dump(best_model, 'model.pkl')

['model.pkl']